.navbar {
    background-color: var(--light);
    color: var(--text-muted);
    padding: 10px 0;
    font-size: medium;
    font-weight: 400;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-logo {
    justify-content: baseline;
    align-items: center;
    padding: 150px;
}